.container {
    max-width: 100rem;
    padding: 1rem 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: flex;
    gap: 2rem;
}

li {
    list-style: none;
}

li a{
    text-decoration: none;
}